@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://use.typekit.net/xyy6zvz.css");

body {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  background-color: #F9F9F9;
}